/* Fonts

**********************************************/
@font-face {
  font-family: Grandmaster;
  src:  url('../fonts/Grandmaster-Black.woff2') format('woff2');
  src:  url('../fonts/Grandmaster-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gtamerica;
  src:  url('../fonts/GT-America-Expanded-Regular.woff2') format('woff2');
  src:  url('../fonts/GT-America-Expanded-Regular.woff') format('woff');
  font-style: normal;
}


/* Vars

**********************************************/
$gtAmerica: "Gtamerica", sans-serif;
$grandmaster: "Grandmaster", sans-serif;

$brown: #C19875;
$ltBrown: #F2E3BC;
$baseBrown: #1f271b;
$pink: #E8B9AB;


/* Reset/default styles

**********************************************/
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

body {
  font-family: $gtAmerica;
  margin: 0;
  background-color: $baseBrown;
  overflow-x: hidden;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  position: relative;
  &::selection {
    background: none;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}
h1 {
  margin: 0;
  font-size: 90px;
}
p {
  font-family: $gtAmerica;
  &::selection {
    background: none;
  }
}
p a {
  text-decoration: underline;
  font-weight: 400;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
ul {
  padding: 0;
  list-style-type: none;
}
.lines {
  overflow: hidden;
  bottom: -4px;
  height: 2px;
  width: 100%;
  pointer-events: none;
  position: absolute;
  left: 0;
  span {
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: $pink;
    &:first-child {
      transition: transform 1s cubic-bezier(.23,1,.32,1);
      transform: translateX(0);
      opacity: 1;
    }
    &:last-child {
      transition: none;
      transform: translateX(0%);
      opacity: 0;
    }
  }
}
[data-router-wrapper] {
  // transform-origin: 50% 0%;
}
a:hover, p:hover {
  .lines {
    span {
      transform: translateX(-102%);
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        transition: transform 1.2s cubic-bezier(.23,1,.32,1);
        transform: translateX(102%);
        opacity: 1;
      }
    }
  }
}
.projects-trigger {
  margin-right: 20px;
}
.global-els {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  .logo, .socials > a, .email-triggers a, .projects-trigger, .profile-trigger, .close-mask, .los-detalles {
    pointer-events: all;
  }
  .vert-left, .email-triggers {
    z-index: 5;
  }
  .scroll-prompt {
    z-index: 3;
  }
  .vert-left, .email-triggers, .scroll-prompt {
    opacity: 0;
  }
}
.global-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background-color: $baseBrown;
}
svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-weight: normal;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 117px;
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 959px) {
    padding: 0 30px;
  }
  @media (max-width: 320px) {
    padding: 0 20px;
  }
  &.home {
    padding: 0 117px 0 150px;
    @media (max-width: 1200px) {
      padding: 0 40px 0 100px;
    }
    @media (max-width: 959px) {
      padding: 0 0 0 80px;
    }
    @media (max-width: 767px) {
      padding: 0 52px 0 47px;
    } 
  }
}
.container-padding {
  padding: 0 60px;
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 959px) {
    padding: 0 30px;
  }
  @media (max-width: 320px) {
    padding: 0 20px;
  }
}
.container-padding-r {
  padding-right: 60px;
  @media (max-width: 1200px) {
    padding-right: 40px;
  }
  @media (max-width: 959px) {
    padding-right: 30px;
  }
  @media (max-width: 320px) {
    padding-right: 20px;
  }
}
.container-padding-l {
  padding-left: 60px;
  @media (max-width: 1200px) {
    padding-left: 40px;
  }
  @media (max-width: 959px) {
    padding-left: 30px;
  }
  @media (max-width: 320px) {
    padding-left: 20px;
  }
}

/* Global selector styles

**********************************************/
.home, .all-projects, .project-hero, .not-found {
  height: 100vh;
  position: relative;
  //overflow: hidden;
}
.home-view {
  .measure-el {
    height: 100vh;
    width: 100%;
    width: 1px;
    opacity: 0;
    pointer-events: none;
  }
}
.project-hero {
  padding-left: 16.5vw;
  @media (min-width: 1500px) {
    padding-left: 14vw;
  }
  @media (max-width: 959px) {
    padding-left: 20vw;
  }
  @media (max-width: 767px) {
    padding-left: 47px;
  }
  .measure-el {
    height: 72%;
    width: 1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .shift {
    height: 100%;
  }
  .large-svg-title {
    @media (max-width: 959px) {
      height: 67%;
    }
    .wiper {
      span {
        width: 25%;
        left: -90px;
        height: calc(100% - 8px);
      }
    }
    .svg-wrapper {
      float: left;
      clear: both;
    }
  }
}
.profile-wrapper, .projects-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
}
.profile {
  width: 100%;
  max-width: 364px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .welcome {
    font-stretch: expanded;
    line-height: 1.67;
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: 12px;
    color: $brown;
    font-family: $gtAmerica;
    margin-bottom: 5px;
    margin-top: 45vh;
    @media (max-height: 820px) {
      margin-top: 38vh;
    }
    > div {
      overflow: hidden;
    }
  }
}
.bio {
  font-stretch: expanded;
  color: $ltBrown;
  font-family: $gtAmerica;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.1px;
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 1.8;
    letter-spacing: 0;
  }
  > div {
    overflow: hidden;
  }
}
.pink-fill {
  fill:#E8B9AB;
}
.brown-fill {
  fill:#f2e3bc;
}

.scroll-prompt {
  position: absolute;
  right: 42px;
  bottom: 25px;
  height: 18px;
  width: 435px;
  @media (max-width: 767px) {
    display: none;
  }
  p {
    font-stretch: expanded;
    float: left;
    line-height: 1.67;
    width: 100%;
    letter-spacing: 1px;
    font-size: 12px;
    color: $brown;
    position: relative;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 850px;
    span {
      left: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      > div {
        &:last-child {
          margin-right: 0;
        }
        div {
          will-change: transform;
          transform-origin: 50% 0;
        }
      }
      &:first-child {
        display: block;
      }
    }
  }
  .arrow {
    width: 16px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.vert-left {
  height: 100%;
  padding: 25px 0;
  left: 40px;
  width: 25px;
  position: relative;
  transform-origin: center;
  .logo {
    top: 0;
    margin: 0 auto;
    position: relative;
    width: 8px;
    display: block;
    &:after {
      content: '';
      width: 28px;
      left: -9px;
      top: -7px;
      height: calc(100% + 10px);
      position: absolute;
    }
    image {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 959px) {
    left: 25px;
    .logo {
      margin: 0;
    }
  }
  .meta {
    font-size: 12px;
    font-family: $gtAmerica;
    color: $brown;
    position: absolute;
    width: 353px;
    letter-spacing: 1px;
    top: 60.2%;
    line-height: 1;
    transform: translate(4%, 0) rotate(-90deg);
    transform-origin: 0 50%;
    @media (max-width: 959px) {
      display: none;
    }
    p, span {
      display: inline-block;
    }
    span {
      margin: 0 10px;
    }
  }

}
.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
  width: 100%;
  left: 0;
  @media (max-width: 767px) {
    display: none;
  }
  a {
    width: 100%;
    height: 20px;
    margin-bottom: 35px;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: transform .15s ease-in-out;
    .brown-fill {
      transition: fill .15s ease-out;
    }
    &:hover {
      transition: transform .19s ease-out;
      transform: scale(.984);
      .brown-fill {
        fill: #E8B9AB;
      }
    }
    svg {
      width: auto;
      height: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.subnote {
  font-stretch: expanded;
  line-height: 1.67;
  letter-spacing: 0.1px;
  font-size: 12px;
  color: $brown;
  margin-top: 16vh;
  max-width: 330px;
  position: relative;
  p {
    > div {
      overflow: hidden;
    }
  }
}
.availability {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.9px;
  color: $brown;
  position: relative;
  margin-top: 12px;
  margin-left: 17px;
  p {
    left: -17px;
    position: relative;
  }
}
.beacon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87a878;
  position: absolute;
  left: -17px;
  top: 5px;
  transform: scale(0);
}
.pin-width {
  width: 483px;
  display: flex;
  justify-content: space-between;
}
.email-triggers {
  height: 20px;
  position: absolute;
  right: 0;
  top: 24px;
  width: auto;
  font-size: 12px;
  padding-right: 116px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  .triggers {
    margin-left: 117px;
  }
  @media (max-width: 959px) {
    padding-right: 0;
    right: -187px;
    top: 8px;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    .email {
      display: none;
    }
    .triggers {
      margin-left: 0;
    } 
  }
  .label {
    color: $brown;
    font-stretch: expanded;
    font-size: 12px;
    font-family: $gtAmerica;
    letter-spacing: 1px;
    line-height: 1;
    padding-top: 5px; 
  }
  p, span {
    display: inline-block;
  }
  a, p {
    text-decoration: none;
    color: $ltBrown;
    display: inline-block;
    &:after {
      content: '';
      width: 114%;
      height: calc(100% + 12px);
      top: -2px;
      left: -7%;
      position: absolute;
    }
  }
  p {
    position: relative;
    cursor: pointer;
  }
}

/* Specific selector styles

**********************************************/
.switch-overlay, .reverse-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $baseBrown;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.reverse-overlay {
  z-index: 3;
}
.wiper {
  position: absolute;
  transform-origin: 100% 50%;
  background-color: #1f271b;
  z-index: 2;
  width: 100%;
  right: -1px;
  height: 100%;
  span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $pink;
    width: 20%;
    transform-origin: 0 50%;
  }
}
.home, .not-found {
  .you-can {
    height: 100%;
    display: inline-block;
    padding: 6px 1px;
    > span {
      display: inline-block;
      position: relative;
      svg {
        height: 100%;
        width: auto;
        position: relative;
      }
      &:first-child {
        height: 50%;
        padding-bottom: 3px;
        .svg-wrapper {
          width: 92.4%;
        }
        .wiper {
          width: 92.4%;
          left: 0;
          height: 99.5%;
          span {
            left: -80px;
            width: 25%;
          }
        }

      }
      &:last-child {
        padding-top: 3px;
        height: 50%;
        .svg-wrapper {
          width: 90.4%;
        }
        .wiper {
          width: 90.4%;
          left: 0;
          height: 99.5%;
          span {
            left: -80px;
            width: 22%;
          }
        }
      }
    }
  }

}
.not-found {
  .you-can {
    > span {
      float: left;
      clear: left;
      &:first-child {
        .svg-wrapper {
          width: 100%;
        }
        .wiper {
          width: 100%;
          left: 0;
          height: 99.5%;
        }

      }
      &:last-child {
        .svg-wrapper {
          width: 100%;
        }
        .wiper {
          width: 100%;
          left: 0;
          height: 99.5%;
        }
      }
    }
  }
}
.large-svg-title {
  height: 100%;
  display: inline-block;
  @media (max-width: 959px) {
    height: 67%;
  }
  .svg-wrapper {
    height: 50%;
    position: relative;
    &:nth-last-child(2) {
      padding-bottom: 7px;
    }
    &:last-child {
      padding-top: 7px;
    }
    svg {
      height: 100%;
      width: auto;
    }
  }
}
.pipe {
  display: inline-block;
  color: $pink;
  margin: 0 10px;
}
.big-pipe {
  position: absolute;
  width: 5px;
  height: calc(100% - 2px);
  background-color: #E8B9AB;
  left: 0;
  top: 2px;
}
.projects-wrapper, .title-meta {
  height: 67.1vh;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  @media (max-width: 1500px) {
    height: 60vh;
  }
}

.svg-wrapper, .svg-wrapper-inner {
  position: relative;
  height: 100%;
  display: block;
}
.svg-wrapper-inner {
  overflow: hidden;
}
.svg-wrapper {
  &:after {
    height: 100%;
    position: absolute;
    right: -2px;
    width: 2px;
    background: #1f271b;
    content: '';
    top: 0;
    z-index: 2;
  }
}
.vert-holder {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.projects-wrapper {
  pointer-events: all;
  position: absolute;
  z-index: 2;
  padding: 0 110px 0 200px;
  transform: none;
  top: auto;
  @media (max-width: 1500px) {
    height: 60vh;
  }
  @media (max-width: 1430px) {
    padding: 0 70px 0 160px;
  }
  @media (max-width: 1345px) {
    padding: 0 40px 0 140px;
    height: 55vh;
  }
  @media (max-width: 1235px) {
    height: 50vh;
  }
  @media (max-width: 1125px) {
    padding: 0 20px 0 120px;
    height: 48vh;
  }
  @media (max-width: 1080px) {
    height: 43vh;
  }
  @media (max-width: 1024px) {
    padding-right: 10px;
  }
  @media (max-width: 959px) {
    height: auto;
  }
  .large-svg-title {
    .wiper {
      height: calc(100% - 6px);
      span {
        width: 25%;
        left: -70px;
      }
    }
    .svg-wrapper {
      float: left;
      clear: both;
    }
  }
  .projects {
    height: 100%;
    float: right;
    .wiper {
      span {
        width: 60%;
        left: -70px;
      }
    }
    h3 {
      font-stretch: expanded;
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-family: $gtAmerica;
      color: $ltBrown;
      font-size: 20px;
      width: 171px;
      @media (max-width: 1125px) {
        line-height: 1.55;
        font-size: 18px;
      }
      > div {
        overflow: hidden;
      }
    }
    p {
      font-stretch: expanded;
      line-height: 1.67;
      letter-spacing: 1px;
      font-size: 12px;
      margin-top: 8px;
      color: $brown;
      @media (max-width: 1125px) {
        font-size: 11px;
      }
      > div {
        overflow: hidden;
      }
    }
    .project-link  {
      float: left;
      height: 50%;
      .svg-wrapper {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 22px;
        position: relative;
        @media (max-width: 1024px) {
          margin-right: 15px;
        }
        svg {
          height: 100%;
          width: auto;
        }
      }
      .wiper {
        right: 0;
      }
      .text-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
        @media (max-width: 1125px) {
          margin-top: 0;
        }
      }
      &:nth-child(odd) {
        margin-right: 120px;
        @media (max-width: 1580px) {
          margin-right: 80px;
        }
        @media (max-width: 1345px) {
          margin-right: 50px;
        }
        @media (max-width: 1125px) {
          margin-right: 17px;
        }
      }
      &:nth-child(-n+2) {
        padding-bottom: 7px;
      }
      &:nth-child(n+3) {
        padding-top: 7px;
      }
      &:nth-child(3) {
        clear: left;
        margin-right: 110px;
        @media (max-width: 1580px) {
          margin-right: 71px;
        }
        @media (max-width: 1345px) {
          margin-right: 44px;
        }
        @media (max-width: 1125px) {
          margin-right: 13px;
        }
        .svg-wrapper {
          margin-right: 18px;
          @media (max-width: 1024px) {
            margin-right: 11px;
          }
        }
      }
      &:last-child {
        margin-left: -3px;
      }
    }
  }
}
.title-meta {
  height: 33.8vw;
  @media (max-width: 959px) {
    height: 500px;
  }
  .meta {
    position: relative;
    padding-left: 26px;
    display: inline-block;
    margin-left: 76px;
    bottom: 76px;
    @media (max-width: 1200px) {
      margin-left: 150px;
    }
    @media (max-width: 1080px) {
      margin-left: 100px;
    }
    @media (max-width: 959px) {
      margin-left: 0;
      display: block;
      position: absolute;
      bottom: 0;
    }
    @media (max-width: 767px) {
      padding-left: 19px;
      padding-right: 23px;
    }
    > div  {
      margin-bottom: 15px;
      letter-spacing: 1px;
      font-size: 12px;
      color: $brown;
      overflow: hidden;
      > div {
        overflow: hidden;
        float: left;
      }
      &:last-of-type {
        margin-bottom: 9px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      span {
        &:last-child {
          color: $ltBrown;
        }
      }
    }
    a {
      color: $ltBrown;
      font-size: 12px;
      letter-spacing: 1px;
    }
    @media (max-width: 767px) {
      a, > div {
        font-size: 10px;
        letter-spacing: 0.8px;
      }
    }
  }

}
.project-body {
  img {
    display: block;
    position: relative;
    z-index: 2;
  }
  .intro {
    position: relative;
    padding-top: 150px;
    padding-bottom: 340px;
    > div {
      padding-left: 122px;
    }
    p {
      line-height: 1.6;
      color: $ltBrown;
      font-stretch: expanded;
      font-size: 20px;
      width: 100%;
      max-width: 600px;
      font-family: $gtAmerica;
      > div {
        overflow: hidden;
      }
    }
    @media (max-width: 959px) {
      > div {
        padding-left: 80px;
      }
      p {
        font-size: 12px;
        line-height: 1.83;
        max-width: 450px;
      }
    }
    @media (max-width: 600px) {
      > div {
        padding-left: 16px;
        padding-right: 25px;
      }
    }
  }
  .eyebrow {
    color: $brown;
    line-height: 1.67;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
    margin-bottom: 16px;
    opacity: .8;
    font-family: $gtAmerica;
    > div {
      overflow: hidden;
    }
    @media (max-width: 959px) {
      font-size: 10px;
      line-height: 2;
      letter-spacing: 0.8px;
      margin-bottom: 3px;
    }
  }
}
.idx {
  line-height: 1;
  color: $brown;
  letter-spacing: 1px;
  font-size: 12px;
  opacity: .8;
  font-family: $gtAmerica;
  position: absolute;
  left: -10px;
  transform: translateX(-100%);
  top: 0;
  @media (max-width: 767px) {
    display: none;
  }
  > div {
    overflow: hidden;
  }
}
.project-footer {
  .shift {
    position: relative;
    height: 100%;
  }
  .eyebrow {
    color: $brown;
    line-height: 1.67;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: .8;
    font-family: $gtAmerica;
    position: absolute;
  }
  .shift {
    display: block;
    height: 100%;
  }
  .eyebrow {
    top: -3px;
    transform: translateY(-100%);
    left: 0;
  }
  .svg-wrapper {
    float: left;
    clear: left;
  }
  .eyebrow, .idx {
    > div {
      overflow: hidden;
    }
  }
}
.project-footer {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 16.5vw;
  @media (min-width: 1500px) {
    padding-left: 14vw;
  }
  .wiper span {
    left: -90px;
  }
  a {
    height: 33.8vw;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    @media (max-width: 959px) {
      height: 67%;
    }
  }
}
.project {
  height: 100%;
  width: 100%;
  position: absolute;
  h1 {
    color: $pink;
    line-height: .8;
    padding-left: 122px;
    font-family: $grandmaster;
    position: absolute;
    font-size: 250px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }
}

.los-detalles {
  height: 450px;
  width: 100%;
  position: absolute;
  background-color: #1b2218;
  bottom: -450px;
  z-index: 9;
  display: flex;
  padding-left: 118px;
  padding-top: 79px;
  .lines {
    bottom: -2px;
  }
  .label {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 1.3px;
    color: $brown;
    display: block;
    > div {
      overflow: hidden;
    }
  }
  p, a {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 1px;
    color: $ltBrown;
    display: inline-block;
    + p, + a {
      margin-top: 21px;
    }
  }
  a {
    position: relative;
    &:after {
      content: '';
      width: 114%;
      height: calc(100% + 10px);
      top: -2px;
      left: -7%;
      position: absolute;
    }
  }
  .close {
    position: absolute;
    right: 60px;
    top: 45px;
    cursor: pointer;
    .clip > div {
      overflow: hidden;
    }
    &:after {
      content: '';
      width: 114%;
      height: calc(100% + 10px);
      top: -2px;
      left: -7%;
      position: absolute;
    }
  }
  .secondary-bio {
    letter-spacing: normal;
    color: $ltBrown;
    width: 85%;
    max-width: 363px;
    margin-right: 119px;
    > div {
      overflow: hidden;
    }
  }
  .experience {
    max-width: 290px;
    p, a {
      > div {
        overflow: hidden;
      }
      .clip {
        > div {
          overflow: hidden;
        }
      }
    }
  }
  .credits {
    margin-right: 110px;
    max-width: 305px;
    p, a {
      > div {
        overflow: hidden;
      }
      .clip {
        > div {
          overflow: hidden;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    > div > div {
      margin-bottom: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.close-mask {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 cursor: pointer;
 z-index: 8;
 display: none;
}
.project-images {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-end;
  margin-bottom: 115px;
  @media (max-width: 767px) {
    padding: 0 56px 0 44px;
    > div {
      margin-bottom: 70px;
    }
  }
  .image-wrap {
    &.desktop_left {
      flex: 0 1 50vw;
      width: 50vw;
      align-self: flex-start;
      img {
        width: 41vw;
      }
    }
    &.desktop_right {
      flex: 0 1 50vw;
      width: 50vw;
      align-self: flex-end;
      img {
        width: 41vw;
        float: right;
      }
    }
    &.medium_left {
      flex: 0 1 50%;
      width: 50%;
      align-self: flex-start;
      img {
        width: 360px;
      }
    }
    &.medium_right {
      flex: 0 1 50%;
      width: 50%;
      align-self: flex-end;
      overflow: hidden;
      img {
        width: 360px;
        float: right;
      }
    }
    &.mobile_left {
      flex: 0 1 50%;
      width: 50%;
      align-self: flex-start;
      img {
        width: 240px;
      }
    }
    &.mobile_right {
      flex: 0 1 50%;
      width: 50%;
      align-self: flex-end;
      overflow: hidden;
      img {
        width: 240px;
        float: right;
      }
    }

    @media (max-width: 767px) {
      &.desktop_left {
        flex: 0 1 100vw;
        width: 100vw;
        img {
          width: 100%;
        }
      }
      &.desktop_right {
        flex: 0 1 100vw;
        width: 100vw;
        img {
          width: 100%;
          float: none;
        }
      }
      &.medium_left {
        flex: 0 1 100%;
        width: 100%;
        img {
          width: 80%;
          margin: 0 auto;
        }
      }
      &.medium_right {
        flex: 0 1 100%;
        width: 100%;
        overflow: hidden;
        img {
          width: 80%;
          margin: 0 auto;
          float: none;
        }
      }
      &.mobile_left {
        flex: 0 1 100%;
        width: 100%;
        img {
          width: 70%;
          margin: 0 auto;
        }
      }
      &.mobile_right {
        flex: 0 1 100%;
        width: 100%;
        align-self: flex-end;
        img {
          width: 70%;
          float: none;
          margin: 0 auto;
        }
      }
    }
  }
  .image-scroll {
    position: relative;
    overflow: hidden;
    max-height: 725px;
    &.desktop_left {
      flex: 0 1 41vw;
      width: 41vw;
      align-self: flex-start;
    }
    &.desktop_right {
      flex: 0 1 41vw;
      width: 41vw;
      align-self: flex-end;
    }
    @media (max-width: 767px) {
      &.desktop_left {
        flex: 0 1 100vw;
        width: 100vw;
        img {
          width: 100%;
        }
      }
      &.desktop_right {
        flex: 0 1 100vw;
        width: 100vw;
        img {
          width: 100%;
          float: none;
        }
      }
    }
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 3;
      height: 2px;
      //background-color: red;
    }
    img {
      top: 0;
      left: 0;
      width: 100%;
      transition: transform .9s ease-out;
    }
    
  }
}
@media (max-width: 1440px) {
  
}
@media (max-width: 1200px) {
  .home .you-can, .not-found .you-can {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    span:first-child, span:last-child {
      height: 30vw;
    }
  }
  .profile {
    position: absolute;
    right: 0;
    height: 100%;
    max-width: 28vw;
    .welcome {
      margin-top: 40vh;
    }
  }
}
@media (max-width: 1024px) {
  .profile {
    .welcome {
      margin-top: 30vh;
    }
  }
}
@media (max-width: 959px) {
  .profile-wrapper {
    flex-direction: column;
    height: 82vh;
    top: 50%;
    transform: translateY(-50%);
  }
  .bio {
    max-width: 450px;
  }
  .home .you-can, .not-found .you-can {
    position: relative;
    top: auto;
    transform: none;
    height: auto;
    display: block;
    padding: 0;
    margin-bottom: 60px;
    span:first-child, span:last-child {
      height: 30vw;
    }
  }
  .profile {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    max-width: none;
    .welcome {
      margin-top: 0;
    }
  }

}
@media (max-width: 767px) {
  .profile-wrapper {
    height: auto;
    transform: none;
    top: 18%;
  }
  .home .you-can, .not-found .you-can {
    margin-bottom: 30px;
    span:first-child, span:last-child {
      height: 35vw;
    }
  }
}
@media (max-width: 600px) {

}
@media (max-width: 480px) {

}