/* Fonts

**********************************************/
@font-face {
  font-family: Grandmaster;
  src:  url('../fonts/Grandmaster-Black.woff2') format('woff2');
  src:  url('../fonts/Grandmaster-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gtamerica;
  src:  url('../fonts/GT-America-Expanded-Regular.woff2') format('woff2');
  src:  url('../fonts/GT-America-Expanded-Regular.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'LucidaGrande';
  src: url('../fonts/LucidaGrande.woff2') format('woff2');
  src: url('../fonts/LucidaGrande.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Vars

**********************************************/
$gtAmerica: "Gtamerica", sans-serif;
$grandmaster: "Grandmaster", sans-serif;
$lucida: "LucidaGrande", sans-serif;

$brown: #C19875;
$ltBrown: #F2E3BC;
$baseBrown: #1f271b;
$pink: #E8B9AB;


/* Reset/default styles

**********************************************/
* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}
h1 {
  margin: 0;
  font-size: 90px;
}
p {
  font-family: $gtAmerica;
}
p a {
  text-decoration: underline;
  font-weight: 400;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html, body {
  overflow: hidden;
}
html, body, #container {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  font-family: $gtAmerica;
  margin: 0;
  background-color: $baseBrown;
  overflow-x: hidden;
  height: 100%;
}
#container {

}
.global-els {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  .logo, .socials > a, .cta-trigger a, .copy-email, .trigger {
    pointer-events: all;
  }
  .vert-left, .cta-trigger, .scroll-prompt {
    z-index: 3;
  }
}
.global-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background-color: $baseBrown;
}
svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-weight: normal;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 117px;
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 959px) {
    padding: 0 30px;
  }
  @media (max-width: 320px) {
    padding: 0 20px;
  }
}
.container-padding {
  padding: 0 60px;
  @media (max-width: 1200px) {
    padding: 0 40px;
  }
  @media (max-width: 959px) {
    padding: 0 30px;
  }
  @media (max-width: 320px) {
    padding: 0 20px;
  }
}
.container-padding-r {
  padding-right: 60px;
  @media (max-width: 1200px) {
    padding-right: 40px;
  }
  @media (max-width: 959px) {
    padding-right: 30px;
  }
  @media (max-width: 320px) {
    padding-right: 20px;
  }
}
.container-padding-l {
  padding-left: 60px;
  @media (max-width: 1200px) {
    padding-left: 40px;
  }
  @media (max-width: 959px) {
    padding-left: 30px;
  }
  @media (max-width: 320px) {
    padding-left: 20px;
  }
}

/* Global selector styles

**********************************************/
.home, .all-projects, .project-hero {
  height: 100vh;
  position: relative;
  //overflow: hidden;
}
.measure-el {
  height: 72%;
  width: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
}
.project-hero {
  padding-left: 16.5vw;
  @media (min-width: 1500px) {
    padding-left: 14vw;
  }
  .large-svg-title {
    .wiper {
      span {
        width: 25%;
        left: -90px;
        height: calc(100% - 8px);
      }
    }
    .svg-wrapper {
      float: left;
      clear: both;
    }
  }
}
.profile-wrapper, .projects-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.profile-wrapper {
  display: flex;
  flex-direction: row;
}
.profile {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .welcome {
    font-stretch: expanded;
    line-height: 1.67;
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: 12px;
    color: $brown;
    font-family: $gtAmerica;
    margin-bottom: 5px;
    margin-top: 45vh;
    @media (max-height: 820px) {
      margin-top: 38vh;
    }
    > div {
      overflow: hidden;
    }
  }
}
.bio {
  font-stretch: expanded;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: $ltBrown;
  font-family: $lucida;
  font-size: 19px;
  > div {
    overflow: hidden;
  }
}
.pink-fill {
  fill:#E8B9AB;
}
.brown-fill {
  fill:#f2e3bc;
}

.scroll-prompt {
  position: absolute;
  right: 40px;
  bottom: 25px;
  height: 18px;
  width: 442px;
  p {
    font-stretch: expanded;
    float: left;
    line-height: 1.67;
    letter-spacing: 1px;
    font-size: 12px;
    color: $brown;
    position: relative;
    transform: translateZ(0);
    transform-style: preserve-3d;
    perspective: 850px;
    span {
      left: 0;
      display: none;
      > div {
        &:last-child {
          margin-right: 0;
        }
        div {
          will-change: transform;
          transform-origin: 50% 0;
        }
      }
      &:first-child {
        display: block;
      }
    }
  }
  .arrow {
    width: 16px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.vert-left {
  height: 100%;
  padding: 25px 0;
  left: 40px;
  width: 25px;
  position: relative;
  .logo {
    top: 0;
    margin: 0 auto;
    position: relative;
    width: 10px;
    display: block;
    &:after {
      content: '';
      width: 28px;
      left: -9px;
      top: -7px;
      height: calc(100% + 10px);
      position: absolute;
    }
    image {
      width: 100%;
      height: auto;
    }
  }
  .meta {
    font-size: 12px;
    font-family: $gtAmerica;
    color: $brown;
    position: absolute;
    width: 313px;
    top: 60.2%;
    line-height: 1;
    transform: translate(4%, 0) rotate(-90deg);
    transform-origin: 0 50%;
    p, span {
      display: inline-block;
    }
    span {
      margin: 0 10px;
    }
  }

}
.socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
  width: 100%;
  left: 0;
  a {
    width: 100%;
    height: 25px;
    margin-bottom: 35px;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: transform .15s ease-in-out;
    .brown-fill {
      transition: fill .15s ease-out;
    }
    &:hover {
      transition: transform .19s ease-out;
      transform: scale(.984);
      .brown-fill {
        fill: #E8B9AB;
      }
    }
    svg {
      width: auto;
      height: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.subnote {
  font-stretch: expanded;
  line-height: 1.67;
  letter-spacing: 0.1px;
  font-size: 12px;
  color: $brown;
  margin-top: 16vh;
  max-width: 330px;
  position: relative;
  p {
    > div {
      overflow: hidden;
    }
  }
}
.availability {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.9px;
  color: $brown;
}
.beacon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #87a878;
  position: absolute;
  left: -17px;
  top: 4px;
}
.pin-width {
  width: 483px;
  display: flex;
  justify-content: space-between;
}
.cta-trigger {
  height: 20px;
  position: absolute;
  right: 0;
  top: 24px;
  width: 45vw;
  display: flex;
  justify-content: space-between;
  .text {
    color: $brown;
    font-stretch: expanded;
    font-size: 12px;
    font-family: $gtAmerica;
    letter-spacing: 1px;
    line-height: 1;
    cursor: pointer;
    padding-top: 5px;
    p, span {
      display: inline-block;
    }
    p {
      a {
        text-decoration: none;
        color: $ltBrown;
        display: inline-block;
      }
    }
  }
  .trigger {
    height: 100%;
    width: 20px;
    float: right;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      background: $ltBrown;
      transform-origin: 50% 50%;
    }
    span {
      background-color:#F2E3BC;
      width: 8px;
      height: 8px;
      position: absolute;
      &:nth-child(odd) {
        background-color: $baseBrown;
        width: 8px;
        height: 8px;
      }
      &:nth-child(1), &:nth-child(2) {
        transform-origin: 100% 100%;
        left: 0;
        top: 0;
      }
      &:nth-child(3), &:nth-child(4) {
        transform-origin: 0 100%;
        right: 0;
        top: 0;
      }
      &:nth-child(5), &:nth-child(6) {
        transform-origin: 100% 0;
        left: 0;
        bottom: 0;
      }
      &:nth-child(7), &:nth-child(8) {
        transform-origin: 0 0;
        right: 0;
        bottom: 0;
      }
    }
    &:after {
      content: '';
      width: 50px;
      height: 50px;
      position: absolute;
      top: -15px;
      left: -15px;
    }
  }
}
.copy-email {
  color: $ltBrown;
  display: inline-block;
  cursor: pointer;
}
.cta-trigger a, .copy-email {
  position: relative;
  &:after {
    content: '';
    width: 106%;
    height: calc(100% + 16px);
    top: -8px;
    left: -3%;
    position: absolute;
  }
}

/* Specific selector styles

**********************************************/
.switch-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $baseBrown;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.wiper {
  position: absolute;
  transform-origin: 100% 50%;
  background-color: #1f271b;
  z-index: 2;
  width: 100%;
  right: -1px;
  height: 100%;
  span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $pink;
    width: 20%;
    transform-origin: 0 50%;
  }
}
.home {
  .you-can {
    height: 100%;
    display: inline-block;
    padding: 6px 1px;
    .wiper {
      span {
        left: -90px;
        width: 25%;
      }
    }
    > span {
      display: inline-block;
      position: relative;
      svg {
        height: 100%;
        width: auto;
        position: relative;
      }
      &:first-child {
        height: 50%;
        padding-bottom: 3px;
        .svg-wrapper {
          width: 95%;
        }
        .wiper {
          width: 95%;
          left: 0;
          height: 99.5%;
        }

      }
      &:last-child {
        padding-top: 3px;
        height: 50%;
        .svg-wrapper {
          width: 94%;
        }
        .wiper {
          width: 94.1%;
          left: 0;
          height: 99.5%;
        }
      }
    }
  }

}
.large-svg-title {
  height: 100%;
  display: inline-block;
  .svg-wrapper {
    height: 50%;
    position: relative;
    &:nth-last-child(2) {
      padding-bottom: 7px;
    }
    &:last-child {
      padding-top: 7px;
    }
    svg {
      height: 100%;
      width: auto;
    }
  }
}
.pipe {
  display: inline-block;
  color: $pink;
  margin: 0 10px;
}
.big-pipe {
  position: absolute;
  width: 5px;
  height: calc(100% - 2px);
  background-color: #E8B9AB;
  left: 0;
  top: 2px;
}
.projects-wrapper, .project-wrapper .title-meta {
  height: 35.8vw;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.svg-wrapper, .svg-wrapper-inner {
  position: relative;
  height: 100%;
  display: block;
}
.svg-wrapper-inner {
  overflow: hidden;
}
.svg-wrapper {
  &:after {
    height: 100%;
    position: absolute;
    right: -2px;
    width: 2px;
    background: #1f271b;
    content: '';
    top: 0;
    z-index: 2;
  }
}
.projects-wrapper {
  pointer-events: all;
  position: absolute;
  z-index: 2;
  padding: 0 110px 0 200px;
  .large-svg-title {
    .wiper {
      span {
        width: 24%;
        left: -55px;
      }
    }
    .svg-wrapper {
      float: left;
      clear: both;
    }
  }
  .projects {
    height: 100%;
    float: right;
    .wiper {
      span {
        width: 52%;
        left: -60px;
      }
    }
    //a:first-child {
    //  .wiper {
    //    span {
    //      width: 49%;
    //    }
    //  }
    //}
    h3 {
      font-stretch: expanded;
      line-height: 1.5;
      letter-spacing: 0.3px;
      font-family: $gtAmerica;
      color: $ltBrown;
      font-size: 24px;
      width: 171px;
      > div {
        overflow: hidden;
      }
    }
    p {
      font-stretch: expanded;
      line-height: 1.67;
      letter-spacing: 1px;
      font-size: 12px;
      margin-top: 10px;
      color: $brown;
      > div {
        overflow: hidden;
      }
    }
    .project-link  {
      float: left;
      height: 50%;
      &.coming-soon {
        .svg-wrapper, .text-wrapper .title, .text-wrapper > p {
          opacity: .1;
        }
        .text-wrapper > p {
          opacity: .55;
          transition: opacity .3s ease-in-out;
        }
        &:hover {
          .text-wrapper > p {
            opacity: 1;
          }
        }
      }
      .svg-wrapper {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 22px;
        position: relative;
        svg {
          height: 100%;
          width: auto;
        }
      }
      .text-wrapper {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
      }
      &:nth-child(odd) {
        margin-right: 120px;
      }
      &:nth-child(-n+2) {
        padding-bottom: 7px;
      }
      &:nth-child(n+3) {
        padding-top: 7px;
      }
      &:nth-child(3) {
        clear: left;
        margin-right: 110px;
        .svg-wrapper {
          margin-right: 18px;
        }
      }
    }
  }
}
.project-wrapper .title-meta {
  height: 33.8vw;
  .meta {
    position: relative;
    padding-left: 26px;
    display: inline-block;
    margin-left: 76px;
    bottom: 76px;
    > div  {
      margin-bottom: 15px;
      letter-spacing: 1px;
      font-size: 12px;
      color: $brown;
      overflow: hidden;
      > div {
        overflow: hidden;
        float: left;
      }
      &:last-of-type {
        margin-bottom: 9px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      span {
        &:last-child {
          color: $ltBrown;
        }
      }
    }
    a {
      color: $ltBrown;
      font-family: $gtAmerica;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

}
.project-wrapper {
  background-color: #1f271b;
}
.project-body {
  img {
    height: auto;
    width: 100%;
    margin-bottom: 54px;
    display: block;
    position: relative;
    z-index: 2;
    transition: transform 1s ease-out;
  }
  .corner-text {
    transform-style: preserve-3d;
    perspective: 300px;
    perspective-origin: 10% 50%;
    color: $pink;
    font-size: 250px;
    font-family: $grandmaster;
    transform-origin: 50% 100%;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: normal;
    position: absolute;
    left: -119px;
    top: 0;
    margin-top: -123px;
    z-index: 1;
    line-height: normal;
    &.break-word {
      margin-top: -130px;
      span {
        display: block;
        line-height: .8;
      }
    }
  }
  .intro {
    position: relative;
    padding-top: 127px;
    height: 100vh;
    > div {
      padding: 0 122px;
    }
    p {
      line-height: 1.6;
      color: $ltBrown;
      font-stretch: expanded;
      font-size: 20px;
      width: 100%;
      max-width: 600px;
      font-family: $lucida;
      > div {
        overflow: hidden;
      }
    }
  }
  .eyebrow {
    color: $brown;
    line-height: 1.67;
    letter-spacing: 1px;
    font-size: 12px;
    display: block;
    margin-bottom: 16px;
    opacity: .8;
    font-family: $gtAmerica;
    > div {
      overflow: hidden;
    }
  }
}
.idx {
  line-height: 1;
  color: $brown;
  letter-spacing: 1px;
  font-size: 12px;
  opacity: .8;
  font-family: $gtAmerica;
  position: absolute;
  left: -10px;
  transform: translateX(-100%);
  top: 0;
  > div {
    overflow: hidden;
  }
}
.project-footer {
  .eyebrow {
    color: $brown;
    line-height: 1.67;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: .8;
    font-family: $gtAmerica;
    position: absolute;
  }

  .eyebrow {
    top: -3px;
    transform: translateY(-100%);
    left: 0;
  }
  .svg-wrapper {
    float: left;
    clear: left;
  }
  .eyebrow, .idx {
    > div {
      overflow: hidden;
    }
  }
}
.project-footer {
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 16.5vw;
  @media (min-width: 1500px) {
    padding-left: 14vw;
  }
  .wiper span {
    left: -90px;
  }
  .large-svg-title {
    height: 33.8vw;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
  }
}
.project {
  height: 100%;
  width: 100%;
  position: absolute;
  h1 {
    color: $pink;
    line-height: .8;
    padding-left: 122px;
    font-family: $grandmaster;
    position: absolute;
    font-size: 250px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
  }
}

//// replace screen group
.screen-group {
  margin-bottom: 278px;
  position: relative;
  height: 3000px;
  &:last-child {
    margin-bottom: 115px;
  }
  .image-scroll {
    width: 41%;
    position: absolute;
    overflow: hidden;
    height: 725px;
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 3;
      height: 2px;
      //background-color: red;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    &:first-child {
      top: 0;
      left: 0;
    }
    &:nth-child(2) {
      top: 1100px;
      right: 0;
    }
    &:nth-child(3) {
      top: 2100px;
      left: 0;
    }
  }
}
